 <!-- Carrito -->
<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="css/styles_carrito.css">
<body>
    <%- include ('./partials/header.ejs')%>
   
<main>
    <h1 class="carrito">Carrito de Compras</h1>  
    <section class="compras">
        <div class="producto1">
            <div class="img-producto1">
                <a class="eliminar" href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                <img class="juanValdez" src = "/images/juan_valdez.jpg">
            </div>
                <p class="producto-producto1">Café Juan Valdez Premium Selection Colombia 340g</p>
            <div class="precio-producto1">
                <p>Precio</p>
                <p>$ 5000</p>
            </div>
            <div class="cant-producto1">
                <p>Cantidad</p>
            <   p>: 2 un.</p>
            </div>
            <div class="subtotal-producto1">
                <p>Subtotal</p> 
                <p>$ 10000</p>
            </div>
        </div>
        
        <div class="producto2">
            <div class="img-producto2">
                <a class="eliminar" href="#"><i class="fa-regular fa-circle-xmark"></i></a>
                <img class="pilao" src = "/images/pilao.jpg">   
            </div>
                <p class="producto-producto2">Café Pilao Tradicional Brasil 500g</p>
            <div class="precio-producto2">
                <p>Precio</p>
                <p>$ 3500</p>
            </div>
            <div class="cant-producto2">
                <p>Cantidad</p>
                <p>: 4 un.</p>
            </div>
            <div class="subtotal-producto2">
                <p>Subtotal</p> 
                <p>$ 14000</p>
            </div>
        </div>
    </section>
    
    <div class="actualizar">
        <a class="actualizar-carrito" href ="/actualizar" >Actualizar carrito</a>
    </div><br>
    <section class="total">
        <div class="filaTotal">
            <p>Total del carrito</p>
        </div>
        <div class="box-total">
            <p>Subtotal</p>
            <p>$ 20500</p>
        </div>
        <div class="box-total">
            <p>Envío</p>
            <p>Mi Casa Nº1234, Posadas, Misiones, Argentina</p>
        </div>
        <div class="box-total">
            <p>Total</p>
            <p>$ 20500</p>
        </div>
        <div class="finalizar">
            <a href="/finalizar" class="finalizar-compra">Finalizar Compra</a>
        </div>
    </section>
</main>
    <%- include ('./partials/footer.ejs')%>    
</body>
</html>