<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="css/stylesError.css">
<body>
    <%- include ('./partials/header.ejs')%>
<main>
    <h1>Ésta página aun no existe!</h1>
        <section class="image">
            <img src="images/error.jpg">
        </section>
</main>
    <%- include ('./partials/footer.ejs')%>
</body>
</html>