<footer>
    <div class="direccion">
        <a>Calle Falsa 1234 | CP (4321) | Barrio Inexistente | Provincia Ficticia | País Inventado</a>
    </div>  
    <div class="enlaces_footer">
        <a href="/mediosDePago"><i class="fa-solid fa-credit-card"></i> Medios de pago</a>
        <a href="/envios"><i class="fa-solid fa-truck"></i> Envíos</a>
        <a href="/privacidad"><i class="fa-solid fa-lock"></i> Avisos de Privacidad</a>
        <a href="/terminosYCondiciones"><i class="fa-solid fa-circle-exclamation"></i> Términos y condiciones</a>
    </div>
</footer>